<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publicação</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<header>
    <div class="container">
        <div class="row mt-2 mb-5">
            <div class="col-10 d-flex align-items-end">
                <h2>Inicio</h2>
            </div>
            <div class="col-1 d-flex align-items-center">
                <span><a href="{% url 'publicacao' %}" class="text-decoration-none">Publicar</a></span>
            </div>
            <div class="col-1 d-flex d-flex align-items-center">
                <span class="sair"><a href="{% url 'logout' %}" class="text-decoration-none">Sair</a></span>
            </div>
        </div>
        </nav>
    </div>
</header>

<body>
    <div class="container">
        <ul>
            {% for publicacao in publicacoes_seguidos%}
            <li>
                <div class="row mt-2">
                    <div class="col-9">
                        <p class="text-primary"><a href="{% url 'comentarios' publicacao.id  %}"
                                class="text-decoration-none">{{ publicacao.colaborador.nome }} - @{{publicacao.colaborador.usuario }}</a></p>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <p>{{ publicacao.data_de_publicacao }} </p>
                    </div>
                </div>
                <div class="row">
                    <p>{{ publicacao.texto}} </p>
                </div>
            </li>
            {%endfor%}
            </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

<footer>
    <!-- Rodapé -->
    <div class="container mt-5">
        <p>&copy; HD Solutions 2022</p>
    </div>
</footer>

</html>